server:
  port: 8081

spring:
  application:
    name: auth-service

  datasource:
    url: jdbc:mysql://localhost:3306/auth_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.format_sql: true

management:
  endpoints:
    web:
      base-path: /api/auth/actuator
      exposure:
        include: health,info

jwt:
  secret: my-super-secret-key-my-super-secret-key
  expiration-ms: 86400000     # 24 hr

