server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/auth/**

        - id: product-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/products/**

        - id: inventory-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/inventory/**

        - id: cart-service
          uri: http://localhost:8084
          predicates:
            - Path=/api/cart/**

        - id: order-service
          uri: http://localhost:8085
          predicates:
            - Path=/api/orders/**

        - id: sales-service
          uri: http://localhost:8086
          predicates:
            - Path=/api/sales/**

management:
  endpoints:
    web:
      exposure:
        include: health,info
